#charts-host {
  position: relative;
  overflow: auto;
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 60px;
  /*body's padding-top plus this page margin-top moves content below the fixed navbar and toolbar*/
}

.charts-host {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 600px;   */
  grid-auto-flow: row;
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 10px;
  border-bottom: 1px solid #ced4da;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
