/* ErrorBoundaryChart/styles.css */

.errorboundary-wrapper {
  display: grid;
  grid-template-columns: auto 500px auto;
  grid-template-areas: 'left center right';
}
.errorboundary-content {
  grid-area: center;
}
