.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 38px;
  font-size: 32px;
  font-weight: bold;
  color: #5c7cfa;
}
.formWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#loginWrapper {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid;
  border-radius: 6px;
}
.inputWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 40px;
  margin: 2px 0 15px 0;
}
.input-wrapper {
  margin-left: 20px;
}
.radio-row {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4px;
  margin-left: 20px;
}
.radio-item {
  margin-right: 20px;
}
.recoverPasswordWrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.recoverPassword {
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
  padding: 15px;
}
.buttonsWrapper {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;
  margin: 18px auto 8px auto;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  font-size: 22px;
  color: rgb(74, 33, 187);
}
button.buttonsigninDev {
  padding: 5px 10px 5px 10px;
  background-color: rgb(108, 240, 108);
}
button.buttonsignin {
  padding: 5px 10px 5px 10px;
}
.buttonSignin:hover {
  background: #adb5bd;
}
.buttonSignup {
  /* font-size: 14px; */
  font-size: 22px;
  padding: 5px 10px 5px 10px;
}
.buttonsWrapper.demomode {
  font-size: 22px;
  margin-top: 80px;
}
.demomode:hover {
  background: #adb5bd;
}

.buttonsDemo {
  margin-top: 40px;
  margin-left: 40px;
}

button {
  border: 1px solid;
  border-radius: 6px;
}

.guestInfoIcon {
  margin-left: 14px;
  margin-bottom: 8px;
}
.guestInfoIcon:hover {
  cursor: pointer;
}
