.signup-container {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 300px) minmax(100px, 300px)  1fr;
    grid-template-rows: 10px 70px 160px 50px 50px 80px 30px 150px 80px;
    justify-items: center; 
    justify-content: stretch;
    align-items: center;
    align-content: stretch;
}

.item-a{
    grid-column: 2/span 2;
    grid-row: 2;
}
.item-b{
    grid-column: 2/span 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
}
.item-c{
    grid-column: 2;
    grid-row: 4;
}

.item-d{
    grid-column: 3;
    grid-row: 4;
}

.item-e{
    grid-column: 2/span 2;
    grid-row: 5;
}

.item-f{
    grid-column: 2;
    grid-row: 6;
}

.item-g{
    grid-column: 3;
    grid-row: 6;
    padding-right: 20px;
}

.item-h{
    grid-column: 2/span 2;
    grid-row: 7;
}

.item-i{
    grid-column: 2/span 2;
    grid-row: 8;
    color: yellow;
}

.button-block {
    width: 388px;
}
