#page-wrapper {
  width: 600px;
  background: #fff;
  padding: 1em;
  margin: 30px auto;
  min-height: 300px;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

#input-wrapper {
  margin-top: 30px;
}

h1 {
  margin-top: 0;
}

#fileDisplayArea {
  margin-top: 2em;
  width: 100%;
  overflow-x: auto;
  color: red;
  font-weight: 600;
  font-size: 20px;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 20px auto;
  padding: 20px;
  background-color: #f1f3f5;
}
#drop-area.highlight {
  border-color: purple;
  background-color: #f8f9fa;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
.button {
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  background-color: #e9ecef;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background-color: #f8f9fa;
}
#fileInputLabel {
  margin: 20px auto;
  font-weight: normal;
}
#filePicker {
  width: 200px;
  margin: 20px auto;
}
#fileInput {
  display: none;
}
#fileElem {
  display: none;
}
