/* ChartDashboard/styles.css */

.dashboard {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: blue solid 1px;
}

.dashboard-data {
  height: 206px;
  /* border-radius: 5px;
  border: blue solid 1px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 1fr 38px;
  grid-template-areas:
    'actionalert'
    'actionparams'
    'actionbuttons';
}
.dashboard-header {
  grid-area: actionalert;
  width: 100%;
  height: 22px;
  background: #f9f9f9;
  padding: 0 0 0 10px;
  /* text-align: center; */
  /* margin-top: 6px; */
  margin-right: 10px;
  /* font-weight: bold; */
}

.swing-buy-form {
  grid-area: actionparams;
  /* margin-top: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px; */
  font-size: 12px;
  padding: 10px;
}

.swing-buy-form h4 {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.swing-buy-form input[type='text'] {
  width: 22%;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dashboard-buttons {
  grid-area: actionbuttons;
  width: 100%;
  background: #f9f9f9;
  text-align: center;
}

.place-order-button {
  /* font-weight: bold; */
  /* margin-left: 20px; */
  font-size: 16px;
}
.delete-prospect-button {
  /* font-weight: bold; */
  /* margin-top: 20px; */
  margin-left: 30px;
  font-size: 16px;
}
