/* stylesTextWidths.css */

.etfDescription {
  width: 200px;
}

/* Dashboard text input widths for Prospects */

.session-buys {
  width: 66px;
}
.session-shortsales {
  width: 66px;
}
.session-trendbuys {
  width: 66px;
}
.instruction-buys {
  width: 40px;
}
.instruction-shortsales {
  width: 86px;
}
.instruction-trendbuys {
  width: 40px;
}
.quantity-buys {
  width: 50px;
}
.quantity-shortsales {
  width: 50px;
}
.quantity-trendbuys {
  width: 50px;
}
.quantitytype-buys {
  width: 70px;
}
.quantitytype-shortsales {
  width: 70px;
}
.quantitytype-trendbuys {
  width: 70px;
}
.ordertype-buys {
  width: 64px;
}
.ordertype-shortsales {
  width: 64px;
}
.ordertype-trendbuys {
  width: 64px;
}
.duration-buys {
  width: 40px;
}
.duration-shortsales {
  width: 40px;
}
.duration-trendbuys {
  width: 40px;
}

.watched-buys {
  width: 68px;
}
.watched-shortsales {
  width: 68px;
}
.watched-trendbuys {
  width: 68px;
}

.watchedprice-buys {
  width: 60px;
}
.watchedprice-shortsales {
  width: 60px;
}
.watchedprice-trendbuys {
  width: 60px;
}

/* Dashboard text input widths for Positions */

.session-longs {
  width: 66px;
}
.session-shorts {
  width: 66px;
}
.session-trendlongs {
  width: 66px;
}
.instruction-longs {
  width: 40px;
}
.instruction-shorts {
  width: 58px;
}
.instruction-trendlongs {
  width: 40px;
}
.quantity-longs {
  width: 50px;
}
.quantity-shorts {
  width: 50px;
}
.quantity-trendlongs {
  width: 50px;
}
.quantitytype-longs {
  width: 70px;
}
.quantitytype-shorts {
  width: 70px;
}
.quantitytype-trendlongs {
  width: 70px;
}
.ordertype-longs {
  width: 64px;
}
.ordertype-shorts {
  width: 64px;
}
.ordertype-trendlongs {
  width: 64px;
}
.duration-longs {
  width: 40px;
}
.duration-shorts {
  width: 40px;
}
.duration-trendlongs {
  width: 40px;
}

.entered-longs {
  width: 68px;
}
.entered-shorts {
  width: 68px;
}
.entered-trendlongs {
  width: 68px;
}

.enteredprice-longs {
  width: 60px;
}
.enteredprice-shorts {
  width: 60px;
}
.enteredprice-trendlongs {
  width: 60px;
}

.filledquantity-longs {
  width: 40px;
}
.filledquantity-shorts {
  width: 40px;
}
.filledquantity-trendlongs {
  width: 40px;
}
