/* ChartDashboard/styles.css */

.dashboard {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: blue solid 1px;
  margin-bottom: 10px;
  /* height: 220px; */
  /* height: 180px; */
}

.dashboard-data {
  /* height: 206px; */
  /* height: 168px; */
  /* border-radius: 5px; */
  /* border: blue solid 1px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4px 1fr 36px;
  grid-template-areas:
    'actionalert'
    'actionparams'
    'actionbuttons';
}
.dashboard-header {
  grid-area: actionalert;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 22px;
  background: #f9f9f9;
  padding: 0 0 0 10px;
  margin-right: 10px;
}

.dashboard-form {
  grid-area: actionparams;
  font-size: 12px;
  padding: 0 10px 10px 10px;
}

.dashboard-footer {
  position: relative;
  grid-area: actionbuttons;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding-top: 4px;
}

/* .order-entry-button {
  font-size: 32px;
  font-weight: 600;
  background: #f9f9f9;
  background-color: #f9f9f9;
  padding: 0;
  width: 40px;
  border: 1px;
  outline: 0;
  cursor: 'pointer';
} */

.watched {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 2px;
}
.entered {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 2px;
}
.filledquantity {
  /* display: inline-block; */
  font-size: 14px;
  margin-bottom: 2px;
  margin-left: 8px;
}
.events-log {
  /* margin-top: 8px; */
  margin-bottom: 12px;
}
label {
  font-weight: 600;
}

.entry-order-button {
  font-size: 16px;
}

.entry-order-button:hover {
  background: #ced4da;
}

.delete-prospect-button {
  margin-left: 30px;
  font-size: 16px;
}

/* Dashboard text input general parameters*/
.dashboard-form input[type='text'] {
  margin-left: 3px;
  margin-right: 6px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Dashboard text input widths for Prospects */

.dashboard-form .session-Buys {
  width: 62px;
}
.dashboard-form .session-ShortSales {
  width: 62px;
}
.dashboard-form .session-TrendBuys {
  width: 62px;
}
.dashboard-form .instruction-Buys {
  width: 40px;
}
.dashboard-form .instruction-ShortSales {
  width: 78px;
}
.dashboard-form .instruction-TrendBuys {
  width: 40px;
}
.dashboard-form .quantity-Buys {
  width: 50px;
}
.dashboard-form .quantity-ShortSales {
  width: 50px;
}
.dashboard-form .quantity-TrendBuys {
  width: 50px;
}
.dashboard-form .quantitytype-Buys {
  width: 68px;
}
.dashboard-form .quantitytype-ShortSales {
  width: 68px;
}
.dashboard-form .quantitytype-TrendBuys {
  width: 68px;
}
.dashboard-form .ordertype-Buys {
  width: 62px;
}
.dashboard-form .ordertype-ShortSales {
  width: 62px;
}
.dashboard-form .ordertype-TrendBuys {
  width: 62px;
}
.dashboard-form .duration-Buys {
  width: 40px;
}
.dashboard-form .duration-ShortSales {
  width: 40px;
}
.dashboard-form .duration-TrendBuys {
  width: 40px;
}

/* Dashboard text input widths for Positions */

.dashboard-form .session-Longs {
  width: 62px;
}
.dashboard-form .session-Shorts {
  width: 62px;
}
.dashboard-form .session-TrendLongs {
  width: 62px;
}
.dashboard-form .instruction-Longs {
  width: 40px;
}
.dashboard-form .instruction-Shorts {
  width: 58px;
}
.dashboard-form .instruction-TrendLongs {
  width: 40px;
}
.dashboard-form .quantity-Longs {
  width: 86px;
}
.dashboard-form .quantity-Shorts {
  width: 86px;
}
.dashboard-form .quantity-TrendLongs {
  width: 86px;
}
.dashboard-form .quantitytype-Longs {
  width: 58px;
}
.dashboard-form .quantitytype-Shorts {
  width: 58px;
}
.dashboard-form .quantitytype-TrendLongs {
  width: 58px;
}
.dashboard-form .ordertype-Longs {
  width: 62px;
}
.dashboard-form .ordertype-Shorts {
  width: 62px;
}
.dashboard-form .ordertype-TrendLongs {
  width: 62px;
}
.dashboard-form .duration-Longs {
  width: 40px;
}
.dashboard-form .duration-Shorts {
  width: 40px;
}
.dashboard-form .duration-TrendLongs {
  width: 40px;
}
