/* ChartDashboard/styles.css */

.dashboard {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: blue solid 1px;
  height: 220px;
  /* height: 180px; */
}

.dashboard-data {
  height: 206px;
  /* height: 168px; */
  /* border-radius: 5px;
  border: blue solid 1px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 1fr 38px;
  grid-template-areas:
    'actionalert'
    'actionparams'
    'actionbuttons';
}
.dashboard-header {
  grid-area: actionalert;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 22px;
  background: #f9f9f9;
  padding: 0 0 0 10px;
  margin-right: 10px;
}

.dashboard-form {
  grid-area: actionparams;
  font-size: 12px;
  padding: 0 10px 10px 10px;
}

.dashboard-footer {
  position: relative;
  grid-area: actionbuttons;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.order-entry-button: {
  font-size: 32px;
  font-weight: 600;
  background: #f9f9f9;
  background-color: #f9f9f9;
  /* margin-left: auto; */
  /* margin-top: -6px; */
  padding: 0;
  width: 40px;
  border: 1px;
  outline: 0;
  cursor: 'pointer';
}

.events-log {
  margin-top: 8px;
  margin-bottom: 12px;
}

.watched {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 2px;
}
.entered {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 2px;
  margin-left: 8px;
}
.filledquantity {
  /* display: inline-block; */
  font-size: 14px;
  margin-bottom: 2px;
  margin-left: 8px;
}

.dashboard-form input[type='text'] {
  width: 22%;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dashboard-edit-form input[type='text'] {
  width: 32%;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.dashboard-edit-history input[type='text'] {
  width: 32%;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dashboard-buttons {
  grid-area: actionbuttons;
  width: 100%;
  background: #f9f9f9;
  text-align: center;
}

.entry-order-button {
  font-size: 16px;
}

.entry-order-button:hover {
  background: #ced4da;
}

.delete-prospect-button {
  margin-left: 30px;
  font-size: 16px;
}

.dialog-button-wrapper {
display:inline;
}

.button-pencil-image {
  background: #f9f9f9;
  height: 28px;
  border: #f9f9f9;
  opacity: 0.5;
}
.button-pencil-image:hover {
  background: #cac8c8dc;
}

.button-pencil-image-absolute {
  position: absolute;
  right: 18px;
  bottom: 12px;
  background: #f9f9f9;
  height: 28px;
  border: #f9f9f9;
  opacity: 0.5;
}
.button-pencil-image-absolute:hover {
  background: #cac8c8dc;
}

.dialog-symbol {
    background: #f9f9f9;
    padding: 6px 0 6px 6px;
    font-size: 16px;
    font-weight: bold;  
}

hr {
  margin: 6px 0 6px 0;
}
