/* ChartDashboard/styles.css */

.dashboard {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: blue solid 1px;
  height: 180px;
}

.dashboard-data {
  height: 206px;
  /* border-radius: 5px;
  border: blue solid 1px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 1fr 38px;
  grid-template-areas:
    'actionalert'
    'actionparams'
    'actionbuttons';
}
.dashboard-header {
  grid-area: actionalert;
  font-weight: bold;
  width: 100%;
  height: 22px;
  background: #f9f9f9;
  padding: 0 0 0 10px;
  margin-right: 10px;
}

.dashboard-form {
  grid-area: actionparams;
  font-size: 12px;
  padding: 0 10px 10px 10px;
}

.events-log {
  margin-bottom: 2px;
}

.watched {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 2px;
}
.entered {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 2px;
  margin-left: 8px;
}

.dashboard-form input[type='text'] {
  width: 22%;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dashboard-buttons {
  grid-area: actionbuttons;
  width: 100%;
  background: #f9f9f9;
  text-align: center;
}

.entry-order-button {
  font-size: 16px;
}
.delete-prospect-button {
  margin-left: 30px;
  font-size: 16px;
}
