/* stylesDialogdashboardform.css */

/* This */
.trailingStopBasis-absolute {
  position: absolute;
  left: 56px;
  bottom: 10px;
  background: #f9f9f9;
}

/* This is a temp display for comparing the local SMA calculation to the value from react-stockcharts */
.lastSma40Value-absolute {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: #f9f9f9;
}

.dialog {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.dashboard-button-pencil-image-absolute {
  position: absolute;
  right: 6px;
  bottom: 10px;
  background: #f9f9f9;
  /* height: 36; */
  border: #f9f9f9;
  opacity: 0.5;
}
.dashboard-button-pencil-image-absolute:hover {
  background: #cac8c8dc;
}

.dialog-form-confirm input[type='text'] {
  width: 86px;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dialog-form-confirm {
  width: 440px;
}

.confirm-symbol {
  background: #f9f9f9;
  margin-bottom: 7px;
  font-size: 14px;
}
.order-pending {
  margin-bottom: 18px;
  font-weight: bold;
}

hr {
  margin: 6px 0 6px 0;
}

.dialog-form-edit {
  width: 300px;
}
.dialog-form-edit input[type='text'] {
  /* width: 42%; */
  margin-left: 3px;
  margin-right: 6px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 13px;
}

.edit-symbol {
  background: #f9f9f9;
  padding: 6px 0 6px 6px;
  font-size: 16px;
  font-weight: bold;
}

.dialog-form-edit .dialog-button-row {
  display: flex;
  justify-content: space-evenly;
  width: 230px;
}

.dialog-button:hover {
  background: #cac8c8dc;
}

.dialog-form-companydata {
  width: 300px;
  padding: 20px;
}
.dialog-form-companydata-title {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.dialog-form-companydata-content {
  display: flex;
  justify-content: center;
}
.dialog-form-companydata-button {
  display: flex;
  justify-content: center;
}
