/* stylesTextWidths.css */
/* Dashboard text input widths for Prospects */

.dashboard-form .session-buys {
  width: 62px;
}
.dashboard-form .session-shortsales {
  width: 62px;
}
.dashboard-form .session-trendbuys {
  width: 62px;
}
.dashboard-form .instruction-buys {
  width: 40px;
}
.dashboard-form .instruction-shortsales {
  width: 78px;
}
.dashboard-form .instruction-trendbuys {
  width: 40px;
}
.dashboard-form .quantity-buys {
  width: 50px;
}
.dashboard-form .quantity-shortsales {
  width: 50px;
}
.dashboard-form .quantity-trendbuys {
  width: 50px;
}
.dashboard-form .quantitytype-buys {
  width: 68px;
}
.dashboard-form .quantitytype-shortsales {
  width: 68px;
}
.dashboard-form .quantitytype-trendbuys {
  width: 68px;
}
.dashboard-form .ordertype-buys {
  width: 62px;
}
.dashboard-form .ordertype-shortsales {
  width: 62px;
}
.dashboard-form .ordertype-trendbuys {
  width: 62px;
}
.dashboard-form .duration-buys {
  width: 40px;
}
.dashboard-form .duration-shortsales {
  width: 40px;
}
.dashboard-form .duration-trendbuys {
  width: 40px;
}

/* Dashboard text input widths for Positions */

.dashboard-form .session-longs {
  width: 62px;
}
.dashboard-form .session-shorts {
  width: 62px;
}
.dashboard-form .session-trendlongs {
  width: 62px;
}
.dashboard-form .instruction-longs {
  width: 40px;
}
.dashboard-form .instruction-shorts {
  width: 58px;
}
.dashboard-form .instruction-trendlongs {
  width: 40px;
}
.dashboard-form .quantity-longs {
  width: 86px;
}
.dashboard-form .quantity-shorts {
  width: 86px;
}
.dashboard-form .quantity-trendlongs {
  width: 86px;
}
.dashboard-form .quantitytype-longs {
  width: 58px;
}
.dashboard-form .quantitytype-shorts {
  width: 58px;
}
.dashboard-form .quantitytype-trendlongs {
  width: 58px;
}
.dashboard-form .ordertype-longs {
  width: 62px;
}
.dashboard-form .ordertype-shorts {
  width: 62px;
}
.dashboard-form .ordertype-trendlongs {
  width: 62px;
}
.dashboard-form .duration-longs {
  width: 40px;
}
.dashboard-form .duration-shorts {
  width: 40px;
}
.dashboard-form .duration-trendlongs {
  width: 40px;
}
