/* .App {
  width: 400px;
  margin: 0 50px 0 50px;
} */

div.scrollmenucontainer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 11;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

/* color the full width tool bar */
div.scrollmenu.ameritrade,
div.scrollmenu.schwab,
div.scrollmenu.paper,
div.scrollmenu.realtrader {
  background-color: rgb(61, 59, 59);
}
div.scrollmenu.papertrader {
  background-color: rgb(1, 160, 1);
}
div.scrollmenu.debugtrader {
  /* background-color: rgb(221, 144, 28); */
  background-color: #eb7a3e;
}
div.scrollmenu.localtrader {
  background-color: rgb(161, 155, 155);
}
div.scrollmenu button {
  overflow: auto;
  white-space: nowrap;
  border: 0;
}

/* match button colors to the background */
div.scrollmenu.ameritrade button,
div.scrollmenu.schwab button,
div.scrollmenu.paper button,
div.scrollmenu.realtrader button {
  background-color: rgb(61, 59, 59);
}
div.scrollmenu.papertrader button {
  background-color: rgb(1, 160, 1);
}
div.scrollmenu.debugtrader button {
  /* background-color: rgba(201, 122, 3); */
  background-color: #eb7a3e;
}
div.scrollmenu.localtrader button {
  background-color: rgb(161, 155, 155);
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
