/* .App {
  width: 400px;
  margin: 0 50px 0 50px;
} */

div.scrollmenucontainer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu button {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  border: 0;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
