/* TradeCell/styles.css */

.trade-cell-wrapper {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 0 8px 10px 40px;
  margin-left: 10px;
  border: 1px solid blue;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.trade-cell-wrapper.fadeout {
  visibility: visible;
  opacity: 0.1;
  transition: opacity 0.5s linear;
}

.trades-container {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.trade-cell {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid blue;
  padding: 0 0 0 10px;
  overflow: hidden; */
}

.trade-header {
  display: inline-flex;
}

.trade-title-formatting {
  padding: 12px 0 6px 0;
  font-size: 16px;
  font-weight: 600;
}
.tradeside-formatting {
  margin-left: 20px;
  margin-right: 4px;
  padding: 12px 0 6px 0;
  font-size: 16px;
  font-weight: 600;
}

.trade-button {
  align-self: flex-start;
  font-size: 32px;
  font-weight: 600;
  background: #f9f9f9;
  background-color: #f9f9f9;
  margin-left: auto;
  margin-top: -6px;
  padding: 0;
  width: 40px;
  border: 0;
  outline: 0;
  cursor: 'pointer';
}

.trade-button:hover {
  background: #eb8b8b;
}

@media only screen and (max-width: 576px) {
  .trade-cell-wrapper {
    /* padding-right: 30px; */
    padding-left: 10px;
    margin-left: 0;
  }
}
