/* Chartcell/styles.css */

.chart-cell-alert-wrapper {
  background-color: #f9f9f9;
  padding: 0 10px 0px 10px;
  margin: 40px 0 0 20px;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.chart-cell-wrapper {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 0 10px 0px 10px;
  margin: 0 0 10px 0;
  border: 1px solid blue;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.chart-cell-wrapper.fadeout {
  visibility: visible;
  opacity: 0.1;
  transition: opacity 0.3s linear;
}

/* This grid layout for narrow screens holds the two main items in one column */
/* For wide screens, see media query break below at line 236 */
/* .chart-cell {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto 16px auto 5px;
  grid-template-areas:
    'cellheader'
    'cellgraph'
    '.'
    'dataform'
    '.';
} */

.chart-cell {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 40px auto 16px auto 5px;
  grid-template-areas:
    'graphheader formheader'
    'cellgraph cellgraph'
    '. .'
    'dataform dataform'
    '. .';
}

/* .chart-cell-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-areas: 'graphheader formheader';
} */

.form-header {
  grid-area: formheader; /* cellheader; */
  display: inline-flex;
  width: 100%;
  background: #f9f9f9;
}

.cell-delete-button {
  font-size: 28px;
  font-weight: 400;
  background: #f9f9f9;
  background-color: #f9f9f9;
  margin-left: auto;
  margin-top: -4px;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  cursor: 'pointer';
}

.cell-delete-button:hover {
  background: #f09a9a;
}

.chart-radio-block-1 {
  display: block;
  margin-top: 10px;
  margin-left: -6px;
}
.chart-radio-block-2 {
  display: block;
  margin-top: 10px;
}
.chart-radio-row {
  display: flex;
  justify-content: space-evenly;
}

.graph-content {
  grid-area: cellgraph;
  width: 100%;
  background: #f9f9f9;
}

/* .dashboard-wrapper {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 0 10px 0px 10px;
  border: 1px solid blue;
  overflow: hidden;
} */

/* .dashboard-title {
  grid-area: dataheader;
  height: 24px;
  background: #f9f9f9;
  width: 100%;
  text-align: center;
  font-weight: bold;
} */

.dashboard-center {
  grid-area: dataform;
  width: 100%;
  /* font-size: 12px; */
}

/* This grid layout for wide screens holds the two main items in two columns */
/* For narrow screens, see media query break above at line 20 */
/* Desktop with expanded window wdth, OR */
/* Device in landscape mode.*/
/* The OR condition is specified by the comma at end of line. */
@media only screen and (min-width: 760px), only screen and (orientation: landscape) {
  .chart-cell {
    display: grid;
    grid-template-columns: 9fr 6fr;
    /* grid-template-columns: 3fr 2fr; */
    /* grid-template-rows: 40px 247px; */
    grid-template-rows: 40px auto;
    grid-template-areas:
      'graphheader formheader'
      'cellgraph dataform';
  }
  .chart-cell-wrapper {
    margin: 0 0 10px 10px;
  }
  .chart-cell-header {
    display: none;
  }

  .graph-header {
    grid-area: graphheader;
    display: inline-flex;
    width: 100%;
    background: #f9f9f9;
  }
  .form-header {
    grid-area: formheader;
    display: inline-flex;
    width: 100%;
    background: #f9f9f9;
  }
}
