/* Chartcell/styles.css */

.chart-cell-wrapper {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 0 10px 0px 10px;
  margin: 0 0 10px 0;
  border: 1px solid blue;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.dashboard-wrapper {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 0 10px 0px 10px;
  border: 1px solid blue;
  overflow: hidden;
}

/* See media query break for wide screen below */
/*holds the two main items in one column*/
.chart-cell {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 247px 16px 225px 22px;
  /* grid-gap: 10px; */
  grid-template-areas:
    'cellheader'
    'cellgraph'
    '.'
    'dataform'
    'datafooter';
  /* background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid blue;
  padding: 0 10px 0px 10px;
  overflow: hidden; */
}

.cell-header {
  grid-area: cellheader;
  display: inline-flex;
  width: 100%;
  /* height: 22px; */
  background: #f9f9f9;
  /* text-align: center; */
  /* font-weight: bold; */
}

.cell-title {
  background: #f9f9f9;
  padding: 12px 0 6px 6px;
  font-size: 16px;
  font-weight: bold;
}

.cell-button {
  align-self: flex-start;
  font-size: 32px;
  font-weight: 600;
  background: #f9f9f9;
  background-color: #f9f9f9;
  margin-left: auto;
  margin-top: -6px;
  padding: 0;
  width: 40px;
  border: 0;
  outline: 0;
  cursor: 'pointer';
}

.cell-button:hover {
  background: #f09a9a;
}
.graph-content {
  grid-area: cellgraph;
  border-radius: 5px;
  width: 100%;
  background: #f9f9f9;
}

/* .dashboard-title {
  grid-area: dataheader;
  height: 24px;
  background: #f9f9f9;
  width: 100%;
  text-align: center;
  font-weight: bold;
} */

.dashboard-center {
  grid-area: dataform;
  width: 100%;
  /* font-size: 12px; */
}
.dashboard-footer {
  grid-area: datafooter;
  width: 100%;
}

/* Desktop with expanded window wdth, OR */
/* Device in landscape mode.*/
/* The OR condition is specified by the comma at end of line. */
@media only screen and (min-width: 1024px), only screen and (orientation: landscape) {
  .chart-cell {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 225px 22px;
    grid-template-areas:
      'cellheader cellheader'
      'cellgraph dataform'
      'cellgraph datafooter';
  }
  .chart-cell-wrapper {
    margin: 0 0 10px 10px;
  }
}
