/* Chartcell/styles.css */

.chart-cell-wrapper {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 0 10px 0px 10px;
  margin: 0 0 10px 0;
  border: 1px solid blue;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.chart-cell-wrapper.fadeout {
  visibility: visible;
  opacity: 0.1;
  transition: opacity 0.3s linear;
}

/* This grid layout for narrow screens holds the two main items in one column */
/* For wide screens, see media query break below at line 236 */
/* .chart-cell {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto 16px auto 5px;
  grid-template-areas:
    'cellheader'
    'cellgraph'
    '.'
    'dataform'
    '.';
} */

.chart-cell {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 40px auto 16px auto 5px;
  grid-template-areas:
    'graphheader formheader'
    'cellgraph cellgraph'
    '. .'
    'dataform dataform'
    '. .';
}

/* .chart-cell-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-areas: 'graphheader formheader';
} */

.graph-header {
  grid-area: graphheader; /* cellheader; */
  display: inline-flex;
  width: 100%;
  background: #f9f9f9;
}
.form-header {
  grid-area: formheader; /* cellheader; */
  display: inline-flex;
  width: 100%;
  background: #f9f9f9;
}

.trade-desc {
  /* background: #f9f9f9;
  padding: 12px 0 12px 6px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
   z-index: 10; */
  display: inline-block;
  font-size: 14px;
  margin-top: 13px;
  /* margin-left: 20px; */
  margin-bottom: 2px;
  z-index: 10;
}
.cell-title {
  background: #f9f9f9;
  padding: 12px 0 6px 6px;
  font-size: 16px;
  font-weight: bold;
  z-index: 10;
}

.cell-getlast-button {
  align-self: flex-start;
  margin-top: 11px;
  margin-left: 35px;
  font-size: 12px;
}

.cell-getlast-button:hover {
  background: #ced4da;
}

.cell-delete-button {
  /* align-self: flex-start; */
  font-size: 32px;
  font-weight: 600;
  background: #f9f9f9;
  background-color: #f9f9f9;
  margin-left: auto;
  margin-top: -6px;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  cursor: 'pointer';
}

.cell-delete-button:hover {
  background: #f09a9a;
}

.chart-series-label {
  display: inline-block;
  font-size: 14px;
  margin-top: 13px;
  margin-left: 16px;
  margin-bottom: 2px;
  z-index: 10;
}
.chart-indicator-label {
  display: inline-block;
  font-size: 14px;
  margin-top: 13px;
  margin-left: 18px;
  margin-bottom: 2px;
  z-index: 10;
}
.chart-edit-button {
  margin-top: 4px;
  margin-left: 18px;
  background: #f9f9f9;
  height: 33px;
  border: #f9f9f9;
  opacity: 0.5;
}
.chart-edit-button:hover {
  background: #cac8c8dc;
}

.chart-dialog-form-edit-form input[type='radio'] {
  width: 32%;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.chart-radio-grid {
  display: grid;
  grid-template-columns: 30px, 20px, 1fr, 30px, 20px, 1fr;
  grid-template-rows: 30px, 30px;
  grid-row-gap: 10px;
  grid-template-areas:
    'w butDaily labDaily y butMA labMA'
    'x butWeekly labWeekly z butMACD labMACD';
}
.buttonDaily {
  grid-area: butDaily;
}
.buttonWeekly {
  grid-area: butWeekly;
}
.buttonMA {
  grid-area: butMA;
}
.buttonMACD {
  grid-area: butMACD;
}
.labelDaily {
  grid-area: labDaily;
}
.labelWeekly {
  grid-area: labWeekly;
}
.labelMA {
  grid-area: labMA;
}
.labelMACD {
  grid-area: labMACD;
}

.chart-radio-block-1 {
  display: block;
  margin-top: 10px;
  margin-left: -6px;
}
.chart-radio-block-2 {
  display: block;
  margin-top: 10px;
}
.chart-radio-row {
  display: flex;
  justify-content: space-evenly;
}

.graph-content {
  grid-area: cellgraph;
  width: 100%;
  background: #f9f9f9;
}

/* .dashboard-wrapper {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 0 10px 0px 10px;
  border: 1px solid blue;
  overflow: hidden;
} */

/* .dashboard-title {
  grid-area: dataheader;
  height: 24px;
  background: #f9f9f9;
  width: 100%;
  text-align: center;
  font-weight: bold;
} */

.dashboard-center {
  grid-area: dataform;
  width: 100%;
  /* font-size: 12px; */
}

/* This grid layout for wide screens holds the two main items in two columns */
/* For narrow screens, see media query break above at line 20 */
/* Desktop with expanded window wdth, OR */
/* Device in landscape mode.*/
/* The OR condition is specified by the comma at end of line. */
@media only screen and (min-width: 760px), only screen and (orientation: landscape) {
  .chart-cell {
    display: grid;
    grid-template-columns: 9fr 6fr;
    /* grid-template-columns: 3fr 2fr; */
    /* grid-template-rows: 40px 247px; */
    grid-template-rows: 40px auto;
    grid-template-areas:
      'graphheader formheader'
      'cellgraph dataform';
  }
  .chart-cell-wrapper {
    margin: 0 0 10px 10px;
  }
  .chart-cell-header {
    display: none;
  }

  .graph-header {
    grid-area: graphheader;
    display: inline-flex;
    width: 100%;
    background: #f9f9f9;
  }
  .form-header {
    grid-area: formheader;
    display: inline-flex;
    width: 100%;
    background: #f9f9f9;
  }
}
