.grid-header-layout {
  height: 36px;
  margin-top: -1px;
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 34px;
  background-color: snow;
  background-color: #ced4da; /*gray 4*/
  background-color: #3bc9db; /*cyan 4*/
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}

.grid-header-cell {
  padding-left: 10px;
  background-color: snow;
  background-color: #ced4da; /*gray 4*/
  background-color: #3bc9db; /*cyan 4*/
  box-sizing: border-box;
  font-weight: bold;
  align-self: center;
  color: white;
  color: #f8f9fa;
}

.grid-row-layout {
  display: grid;
  margin-top: 33px;
  grid-gap: 1px;
  background-color: #ced4da; /*gray 4*/
  grid-auto-flow: row;
  grid-auto-rows: minmax(20px, auto);
  /*border-top: 1px solid olivedrab;*/
  border-bottom: 1px solid #ced4da;
  overflow: auto;
}

.grid-row-cell {
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;
}

.grid-row-nostripe {
  background-color: snow;
}

.grid-row-stripe {
  /*background-color:#f8f9fa; gray 0*/
  background-color: #f1f3f5; /*gray 1*/
  /*background-color:#e9ecef; gray 2*/
  /*background-color:#e3fafc; cyan 0*/
  /*background-color:#c5f6fa; cyan 1*/
}

.grid-row-cell-flag {
  /*font-size: 14px;*/
  font-weight: bold;
  color: blue;
  padding-top: 3px;
  padding-bottom: 1px;
}

/* added for Plan data grid 2 col layout */
.grid-layout-2cols {
  /* grid-template-columns: minmax(80px, 120px) 1fr; */
  grid-template-columns: 1fr 1fr;
}

.grid-layout-3cols {
  /*grid-template-columns: 70px 110px 1fr;*/
  grid-template-columns: minmax(44px, 60px) minmax(80px, 120px) 1fr;
}

.grid-layout-4cols {
  /*grid-template-columns: 70px 1fr 1fr 1fr;*/
  grid-template-columns: minmax(44px, 80px) 1fr 1fr 1fr;
}

.grid-layout-6cols {
  grid-template-columns: 170px 70px 70px 70px 70px 70px;
  /*grid-template-columns: 170px 1fr 1fr 1fr 1fr 1fr;*/
  /* grid-template-columns: minmax(44px, 60px) 1fr 1fr 1fr 1fr 1fr; */
}

.grid-layout-8cols {
  /*grid-template-columns: 64px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-columns: minmax(44px, 60px) 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
