.welcome-content {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-right: 14%;
  padding-left: 14%;
  background-color: #ecf0f1;
}
/* Tablet in desktop narrow window, OR */
/* Device in portait mode. */
/* The OR condition is specified by the comma at end of line. */
@media only screen and (max-width: 768px), (orientation: portait) {
  .welcome-content {
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    padding-right: 8%;
    padding-left: 8%;
  }
}
