.welcome-content {
  width: 100%;
  margin-top: 30px;
  padding-right: 200px;
  padding-left: 200px;
  background-color: #ecf0f1;
}
/* Tablet in desktop narrow window, OR */
/* Device in portait mode. */
/* The OR condition is specified by the comma at end of line. */
@media only screen and (max-width: 768px), (orientation: portait) {
  .welcome-content {
    padding-right: 70px;
    padding-left: 70px;
  }
}
