/* ChartDashboardForm/styles.css */

/* .dashboard {
  width: 100%;
  height: 236px;
  background: burlywood;
} */

/* .dashboard-title {
  height: 24px;
  width: 100%;
  text-align: center;
  font-weight: bold;
} */

.dashboard-data {
  /* background: yellow; */
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 206px;
  border-radius: 5px;
  border: blue solid 1px;
}

.dashboard-header {
  margin-top: 14px;
  margin-left: 10px;
  margin-bottom: 14px;
  font-size: 20px;
}

.swing-buy-form {
  font-size: 12px;
  padding: 10px;
}

.swing-buy-form h4 {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.swing-buy-form input[type='text'] {
  width: 22%;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
