.App {
  width: 400px;
  margin: 0 50px 0 50px;
}

/* Note: The icon's padding will space both the icons and the labels */
/* and in most cases the label text is narrower and is not crowded. */
/* But when the label text is wider, then the smaller label padding */
/* is effective and separates the labels pleasingly. */
.icon1 {
  grid-area: 1 / 1 / 2 / 2;
  padding: 0 12px;
}
.icon2 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0 12px;
}
.icon3 {
  grid-area: 1 / 3 / 2 / 4;
  padding: 0 12px;
}
.icon4 {
  grid-area: 1 / 4 / 2 / 5;
  padding: 0 12px;
}
.icon5 {
  grid-area: 1 / 5 / 2 / 6;
  padding: 0 12px;
}
.icon6 {
  grid-area: 1 / 6 / 2 / 7;
  padding: 0 12px;
}
.icon7 {
  grid-area: 1 / 7 / 2 / 8;
  padding: 0 12px;
}

.label1 {
  grid-area: 2 / 1 / 3 / 2;
  padding: 0 4px;
}
.label2 {
  grid-area: 2 / 2 / 3 / 3;
  padding: 0 4px;
}
.label3 {
  grid-area: 2 / 3 / 3 / 4;
  padding: 0 4px;
}
.label4 {
  grid-area: 2 / 4 / 3 / 5;
  padding: 0 4px;
}
.label5 {
  grid-area: 2 / 5 / 3 / 6;
  padding: 0 4px;
}
.label6 {
  grid-area: 2 / 6 / 3 / 7;
  padding: 0 4px;
}
.label7 {
  grid-area: 2 / 7 / 3 / 8;
  padding: 0 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, minmax(max-content, max-content));
  grid-template-rows: repeat(2, minmax(max-content, max-content));
  background-color: #eeeeee;
  padding-bottom: 4px;
}

.grid-container > div {
  background-color: #eeeeee;
  text-align: center;
  font-size: 12px;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.5;
}

div img:hover {
  cursor: pointer;
  background-color: #98cefa;
}

div img:active {
  cursor: pointer;
  background-color: #42a6f8;
}

div.disabled:hover {
  cursor: default;
  background-color: #eeeeee;
}

div.disabled img:hover {
  cursor: default;
  background-color: #eeeeee;
}

div.disabled img:active {
  cursor: default;
  background-color: #eeeeee;
}

/* This "!important" overrides the icon content for a selected menu item, */
/* this keeps the check mark from appearing after menu item is selected */
.rc-dropdown-menu-item-selected:after {
  content: '' !important;
  font-family: 'anticon';
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: 16px;
  color: #3cb8f0;
}
