#tradescontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  border-bottom: 1px solid #ced4da;
  margin-top: 44px;
  /*body's padding-top plus this page margin-top moves content below the fixed navbar and toolbar*/
}

#tradeschart {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 0 8px 10px 40px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid blue;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  position: relative;
}

#trades-host {
  position: relative;
  overflow: auto;
  width: 100%;
  background-color: #f5f5f5;
}

.trades-host {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  border-bottom: 1px solid #ced4da;
}

/* .grid-wrapper {
  position: relative;
  height: 250px;
  font-weight: normal;
  overflow: hidden;
  width: 100%;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
} */

/* .grid-header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
} */

/* .grid-data-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
} */
