/*chart-cell height determined by contents: chart-title + graph-wrapper + grid-wrapper*/
/* Note: the class name "tab-content" is reserved by bootstrap's css */

.graph-container {
    width: 100%;
    padding-bottom: 5px;
    background: #F9F9F9;
}

.graph-table {
    display: table;
	table-layout: fixed;
	width: 100%;
}

.graph-wrapper {
     height: 200px;  
    position: relative;
    padding: 0;
	display: table-cell;
	width: 100%;
	border: 1px solid #666666;
	border-radius: 5px;
	background: #F9F9F9;
}

.graph-ledgend {
	display: table-cell;
	width: 155px;
    border-top: 1px dashed #1F98C7;
    border-right: 1px dashed #1F98C7;
    border-bottom: 1px dashed #1F98C7;
	/*border: 1px solid #1F98C7;*/
	border-radius: 5px;
	background: #F9F9F9;
}
