.footnote {
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  font-size: 86%;
}
/* .duckimagecredit { */
/* margin-top: 2px; */
/*margin-left: 50px;*/
/* } */
