#planview-host {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 84px;
  /*body's padding-top plus this page margin-top moves content below the fixed navbar and toolbar*/
}

.datatree-box {
  grid-area: datatree;
  border-radius: 4px;
  background-color: white;
  border: 1px solid blue;
  overflow: auto; /* seems to be neccessary as of changes of 8/13/2017 */
}

.planview-toolbar-box {
  grid-area: toolbar;
}
.planview-toolbar {
  display: flex;
  flex-direction: row;
  padding-top: 6px;
  border-radius: 4px;
  border: 1px solid blue;
  background-color: #eee;
}

.datagrid-box {
  grid-area: datagrid;
  border-radius: 4px;
  border: 1px solid blue;
  background-color: white;
  /* overflow: hidden; */
  overflow: auto;
}

/* Desktop in normal window, OR */
/* Device in landscape mode. */
/* The OR condition is specified by the comma at end of line. */
@media only screen and (min-width: 768px), (orientation: landscape) and (min-device-width: 684px) and (max-device-width: 1024px) {
  #planview-container {
    /*holds the two main items in 2 rows*/
    position: absolute;
    top: 0;
    left: 0;
    /* right: 4px;   */
    width: 100%;
    background-color: #f9f9f9;
    padding: 0 10px 0 10px;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    /* Using minmax track-width solves bug in iOS Safari not correctly handling iPad row size */
    grid-template-rows: 54px minmax(200px, 1fr);
    grid-gap: 5px;
    grid-template-areas:
      'datatree toolbar'
      'datatree datagrid';
  }
}

/* Tablet in desktop narrow window, OR */
/* Device in portait mode. */
/* The OR condition is specified by the comma at end of line. */
@media only screen and (max-width: 768px), (orientation: portait) {
  #planview-container {
    /*holds the two main items in one column*/
    position: absolute;
    top: 0;
    left: 0;
    /* right: 4px;   */
    width: 100%;
    background-color: #f9f9f9;
    padding: 0 10px 0 10px;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 1fr;
    grid-gap: 5px;

    /* grid-template-rows: 54px minmax(200px, 3fr) minmax(min-content, 2fr); */
    /* grid-template-rows: 54px minmax(200px, 3fr)  minmax(100px, 2fr); */
    /* Note: the "54px auto auto" performs as needed after experimenting with the two above */
    grid-template-rows: 54px auto auto;
    grid-template-areas:
      'toolbar'
      'datatree'
      'datagrid';
  }
}
