/* PlanGridContainer/styles.css */
/* Note: Guided by Charts/GridContainer/styles.css */

.plan-grid-wrapper {
  position: relative;
  /* height: 250px;  */
  font-weight: normal;
  overflow: hidden;
  width: 100%;
  /* border-left: 1px solid blue; */
  /* border-right: 1px solid blue; */
  /* border-top: 1px solid blue; */
  /* border-bottom: 1px solid blue; */
}

.plan-grid-data-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* For error message */
.center {
  margin: 40px auto;
  width: 80%;
  border: 3px solid rgb(111, 118, 211);
  padding: 10px;
}
